{% extends 'partials/base.html' %}
{% block title %} Event Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-6 offset-md-4">
            <div class="border bg-white p-3">
                <h4>Update Transaction</h4>
                <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <a class='btn btn-secondary' href="{% url 'dashboard-event' %}">Cancel</a>
                <input class="btn btn-info" type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}

