{% extends 'partials/base.html' %}
{% block title %} School Year Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

 <!--Table-->
 {% if user.is_authenticated and user.is_superuser %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add School Year</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <input class="btn btn-success btn-block" type="submit" value="Add School Year">

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-dark">
                    <tr class="text-white">
                        <th scope="col">S.Y. ID</th>
                        <th scope="col">Semester</th>
                        <th scope="col">School Year</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schoolyear in schoolyears %}
                    <tr>
                        <td>{{ schoolyear.sy_id }}</td>
                        <td>{{ schoolyear.semester }}</td>
                        <td>{{ schoolyear.schoolyear }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-schoolyear-update' schoolyear.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-schoolyear-delete' schoolyear.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% else %}
<div class="row my-4">
    <div class="col-md-8 mx-auto">
    <table class="table bg-white">
        <thead class="bg-dark">
            <tr class="text-white">
                <th scope="col">S.Y. ID</th>
                <th scope="col">Semester</th>
                <th scope="col">School Year</th>
            </tr>
        </thead>
        <tbody>
            {% for schoolyear in schoolyears %}
            <tr>
                <td>{{ schoolyear.sy_id }}</td>
                <td>{{ schoolyear.semester }}</td>
                <td>{{ schoolyear.schoolyear }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endif %}
<!--End Table-->

{% endblock %}
