{% extends 'partials/base.html' %}
{% block title %}Student View{% endblock %}

{% block content %}
{% include 'partials/topside_student.html' %}
{% load static %}
<style>
    
    body{
    background-image: url('{% static "img/cba_building.jpg" %}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: black;
    }

    /* Additional CSS styles for other elements on the page */
    figure.text-center {
        margin: 30px;
        position: relative;
    }
</style> 

{% include 'partials/footer.html' %}
{% endblock %}
